/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
	background:url(../img/logo3.png) no-repeat top center;
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:17vmax;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:140px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    zoom: .5;
	
}

/*per tablet con schermo superiore a 800 px di altezza*/
@media screen and (min-height:800px) {
	.app{
		zoom:.8
	}
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

/*per tablet con schermo superiore a 800 px di altezza*/
@media screen and (min-height:800px) {
	.event {
		font-size:24px;
	}
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/**********************/
/*http://stackoverflow.com/questions/26099709/make-flipclock-js-responsive*/
.your-clock{
   zoom: 0.6;
   -moz-transform: scale(0.6);
}
/********************/
#tempo-restante{
	margin-left:5vmax;
	/*margin-top:40vmax;*/
	margin-bottom:5vmax;
}
#tempo-restante-extra {
   zoom: 1.4;
   -moz-transform: scale(0.5);
    padding-bottom: 0.5em;
	padding-left: 1em;
    font-size: small;
	font-weight:700;
}
#tempo-trascorso{
	margin-left:5vmax;
	/*margin-top:20vmax;*/
}
#tempo-trascorso:before {
   zoom: 1.4;
   -moz-transform: scale(0.5);
    padding-bottom: 0.7em;
    content: "LAVORATO:";
    font-size: xx-large;
}
/**********************/

/**********************/
.cartellino{
	border:0;
	height:30px; 
	width: 100%; 
	margin-left:2vmax;
	margin-top:30vmax;
	margin-bottom:5vmax;
	padding-right:9vmax;
}
/*http://tympanus.net/Tutorials/BasicReadyToUseCSSStyles/*/
.block-level {
	width: 100%;
    height: auto;
    position: relative;
    float: left;
    color: #fff;
    padding: 20px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	font-size:2.8vmax
}
.embossed-light {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
}

.embossed-heavy {
  background-color:green;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 
  inset 0 2px 3px rgba(255,255,255,0.3),
  inset 0 -2px 3px rgba(0,0,0,0.3),
  0 1px 1px rgba(255,255,255,0.9);
}

.menu-act{
	opacity: 1;
}
#imgmenu{
	position: fixed; 
	width:70%;
	top: .5vmax;
}
#imgset{
	position: fixed;
    top: 10vmax;
    right: 20vmax;
}
.menu{
	opacity: 0;
	position: fixed;
	bottom: 0;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: .8;
}
.menu-embossed-heavy {
    background-color:green;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
    color:black;
}
.pannello-embossed-heavy {
    background-color:green;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
    opacity: 1;
    top: 7vmax;
    width: 90%;
    height: 1000px;
    /*position: fixed;*/
    color:black;
	overflow-y: visible;
}
#calcola, #salva_set, #reset_set{
    width:13vmax;
    height:5vmax;
}


.giustifica{
	background-color: #F4AC36;
	border-radius:75px;
	border:5px;
	position:absolute;
	z-index: 10; 
	
	width: 70%;
    height: 70%;
    margin-left: -25vmax;
    font-size: smaller;
    top: 125vmax;
    left: 70vmax;
    
}

/***********************/

/***********************/
.saldo{
	color: rgb(255, 237, 240); 
	box-shadow: rgb(128, 0, 0) 2px 2px 5px; 
	background-color: rgb(206, 187, 22);

    margin: auto;
    height: 10vmax;
    width: 60%;
    padding: 10px;
}
.saldo-negativo{
	background-color:red;
}
.saldo-positivo{
	background-color:green;
}

.responstable {
    zoom:0.8;
    width:90%;
}

.reportTable {
    zoom:1.1;
    width:90%;
}

.reportTable th {
    border: 1px solid black;
    background-color:#A0A0A0;
    color:white;
}
.reportTable td{
    border: 1px solid black;
    background-color:#EEEEEE;
    width:10%;
}

.reportTable td:nth-child(3) {  
    border: none;
    background-color: transparent;
    width:10%;
}

.reportTable td input
{
   display: inline-block;
   width:13vmax;
   height:5vmax;
   border-radius:75px;
   border:5px;
   font-size: xx-small;   
}

.reportTableBis {
    zoom:.5;
    width:90%;
}

.reportTableBis th {
    border: 1px solid black;
    background-color:#A0A0A0;
    color:white;
}
.reportTableBis td{
    border: 1px solid black;
    background-color:#EEEEEE;
    width:10%;
}


/***********************/


/***********************/
/*http://in-web.pl/cssdivbuilder*/
#credenziali{
	padding: 23px 17px 55px 23px;
	width: 40%;
	height: 15%;
	margin: auto;
	margin-top:40vmax;
	background: rgb(194, 203, 186);
	-moz-box-shadow: inset 0px 10px 10px 0px rgb(128,128,128);
	-webkit-box-shadow: inset 0px 10px 10px 0px rgb(128,128,128);
	box-shadow: inset 0px 10px 10px 0px rgb(128,128,128);
	zoom: 1.1;
	transform:scale(1);
	-ms-transform:scale(1);
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
}
.conferma{
  margin: 0 0 5px;
  padding: 0 12px;
  height: 28px;
  line-height: 28px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  border-width: 1px 1px 0;
  border-style: solid;
  border-radius: 3px 3px 2px 2px;
  outline: 0;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #465f25;
  text-shadow: 0 1px #d9f3b5;
  background: #94d362;
  border-color: #91ce5e #7ab04b #5e903f;
  background-image: -webkit-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -moz-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: -o-linear-gradient(top, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  background-image: linear-gradient(to bottom, #c0eb85 0%, #94d362 70%, #8ed258 100%);
  -webkit-box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px #d9f3b5, inset 0 0 0 1px #b1e095, 0 1px #5e903f, 0 3px #6da445, 0 4px #5e903f, 0 5px 2px rgba(0, 0, 0, 0.4);
}

.annulla{
	background: #ff6600;
	border-color: #ffc299 #e65c00 #803300;
	box-shadow: inset 0 1px #4d1f00, inset 0 0 0 1px #4d1f00, 0 1px #4d1f00, 0 3px #4d1f00, 0 4px #4d1f00, 0 5px 2px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px #4d1f00;
	zoom:1.2;
}
/*************************/

/*************************/
#form_giustificativi{
	position:absolute;
	top:-5%;
	left:7%;
	width: 75%;
	height:65%;
	padding: 7%;
	background-color:rgb(194, 203, 186);
	transition:top 0s;
	z-index:10;
}

#form_giustificativi input{
	width: 10vmax;
	zoom:1.2;
}

#form_giustificativi select{
	zoom:1.2;
}

/*************************/


/*************************/
.generale-quasi-centrato{
	position:absolute;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	margin-left:25vmax
}
.generale-centrato{
	position:inherit;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
}
.generale-imbottitura{
	padding-top:15px;
}
.generale-figlio-centrato{
	position:relative;
	margin-top:5%;
	right: 0;
	left: 0;
	margin-left:auto;
	margin-right:auto;
}

/*************************/

/*************************/
/*http://www.jankoatwarpspeed.com/css-message-boxes-for-different-message-types/*/
.info{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
	border: 1px solid;
	width: 43vmax;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: black;
	background-color: #4CB24C;
	background-image: url('../img/info.png');
}
/*************************/

/*************************/
/*http://www.cssportal.com/blog/create-css-notification-badge/*/
.badge {
   position:relative;
}
.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: 70px;
    font-size: .9em;
    background: red;
    color: white;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

/*************************/


